<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Console appender (optional, keep logs in console) -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
[%level] - %d{yyyy-MM-dd HH:mm:ss.SSS}
logger: %logger
method: %method
exception: %ex
body: %msg
host: %X{host}
httpMethod: %X{http_method}
trace_id: %X{trace_id}
success: %X{success}
details: %X{details} %n%n
            </pattern>
        </encoder>
    </appender>

    <!-- Discord appender -->
    <appender name="DISCORD" class="nasa.keyvault.shared.logging.DiscordLogAppender">
        <webhookUri>https://discord.com/api/webhooks/YOUR_WEBHOOK</webhookUri>
    </appender>

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="DISCORD"/>
    </root>

</configuration>
